C 400 -700 "NC_1" 400 -700 0 0 60 0 L
X "PIN_TEXT" "NC_1" 430 -470 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -500 400 -700 -1 0
C 500 -700 "COM_1" 500 -700 0 0 60 0 L
X "PIN_TEXT" "COM_1" 530 -470 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -500 500 -700 -1 0
C 600 -700 "NO_1" 600 -700 0 0 60 0 L
X "PIN_TEXT" "NO_1" 630 -470 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -500 600 -700 -1 0
C 400 700 "NC_2" 400 700 0 0 60 0 R
X "PIN_TEXT" "NC_2" 430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 400 500 400 700 -1 0
C 500 700 "COM_2" 500 700 0 0 60 0 R
X "PIN_TEXT" "COM_2" 530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 500 500 500 700 -1 0
C 600 700 "NO_2" 600 700 0 0 60 0 R
X "PIN_TEXT" "NO_2" 630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 600 500 600 700 -1 0
C 0 0 "MH1" 0 0 0 0 60 0 L
X "PIN_TEXT" "MH1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 1000 0 "MH2" 1000 0 0 0 60 0 R
X "PIN_TEXT" "MH2" 770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 800 0 1000 0 -1 0
L 200 500 800 500 -1 0
L 800 -500 800 500 -1 0
L 800 -500 200 -500 -1 0
L 200 500 200 -500 -1 0
P "$LOCATION" "?" 850 670 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

